/* App.css */

.app {
    height: 100vh;
    /* 100% of the viewport height */
    width: 100vw;
    /* 100% of the viewport width */
    overflow: auto;
    /* Add scroll if content overflows */
}

main {
    font-family: Arial, sans-serif;
    padding: 1em;
    background-color: #f5f5f5;
}

#message-list {
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #fef4f4;
}

.message {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
    /* Add a border */
    border-radius: 15px;
    /* Increase border radius for a bubble-like appearance */
    background-color: #f1ecec;
}

#message-input {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1em;
    border-top: 1px solid #ddd;
}

#message-input input {
    flex-grow: 1;
    margin-right: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#message-input button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-right: 3em;
}

#message-input button:hover {
    background-color: #0056b3;
}